* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 10px;
}

.encrypt-file-body {
    height: 100vh;
    background-color: #BED8D4;
    overflow-y: auto; /* Allow vertical scrolling */
}

.encrypt-file-container {
    width: 80%;
    margin: 30px auto;
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.encrypt-file-logo {
    width: 120px;
    margin-bottom: 10px;
}

.encrypt-file-panel {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.file-encryption {
    background: #f8f8f8;
    padding: 8px; /* Smaller padding */
    border-radius: 3px; /* Smaller rounded corners */
    width: 100%; /* Ensures both elements have the same width */
}

.logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 4px; /* Smaller padding */
    border-radius: 2px; /* Smaller rounded corners */
    border: none;
    background: #f44336;
    color: #fff;
    font-size: 10px; /* Smaller font size */
    cursor: pointer;
    width: 60px;
    height: 25px;
}

.header2 {
    margin-bottom: 8px;
    color: #333;
    font-size: 18px;
}

.firstheader2 {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #333;
    font-size: 18px;
}

.file-input-div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.zip-checkbox-container {
    flex: 1;
    margin-left: 6px;
}

.file-input {
    position: absolute;
    opacity: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.drop-area {
    flex: 2;
    border: 2px dashed #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    position: relative;
}

.encrypt-text-btn,
.encrypt-btn,
.decrypt-btn,
.list-btn {
    width: 100%;
    padding: 5px; /* Reduce padding */
    border: none;
    border-radius: 2px; /* Smaller rounded corners */
    color: #fff;
    font-size: 10px; /* Smaller font size */
    cursor: pointer;
}

.encrypt-btn {
    background: #4CAF50;
}

.decrypt-btn {
    background: #f44336;
}

.encrypt-text-btn {
    background: dimgray;
}

.list-btn {
    background: #454343;
}

.counter-tracker {
    font-size: 8px;
}

.button:hover {
    opacity: 0.8;
}

button:focus {
    outline: none;
}

.drop-area.dragging {
    background: #f1f1f1;
}

@media (max-width: 768px) {
    .encrypt-file-panel {
        grid-template-columns: 1fr;
    }
}
