* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 10px;
}

.file-input-div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
  }


.file-input {
    position: absolute;
    opacity: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}
.decryptdrop-area {
    flex: 2;
    border: 2px dashed #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    position: relative;
}

.decrypt-body{
    height: 100vh;
    background-color: #BED8D4;
    overflow-y: auto; /* Allow vertical scrolling */
}

.decrypt-container {
    width: 80%;
    margin: 30px auto;
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.decrypt-logo{
    width: 120px;
    margin-bottom: 10px;
}

.decrypt-form {
    width: 80%;
}

.decrypt-panel {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.file-decryption {
    background: #f8f8f8;
    padding: 8px; /* Smaller padding */
    border-radius: 3px; /* Smaller rounded corners */
    width: 100%; /* Ensures both elements have the same width */
    display: flex;
    flex-direction: column;
}

.header2 {
    margin-bottom: 8px;
    color: #333;
    font-size: 18px;
}

.admin-key-input, .admin-token-input{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 4px; /* Smaller padding */
    border-radius: 2px; /* Smaller rounded corners */
    border: none;
    background: #f44336;
    color: #fff;
    font-size: 10px; /* Smaller font size */
    cursor: pointer;
}

.encrypt-btn, .decryptfile-btn, .decrypt-text-btn, .list-btn{
    width: 100%;
    padding: 5px; 
    border: none;
    border-radius: 2px; 
    color: #fff;
    font-size: 10px; 
    cursor: pointer;
}

.decrypt-text-btn {
    margin-bottom: 8px;
}

.encrypt-btn {
    background-color: #4CAF50;
}

.decryptfile-btn {
    background-color: #f44336;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.decryptfile-btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

.loading-spinner {
    width: 100%; 
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-spinner::after {
    content: "";
    width: 10px;
    height: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 2px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.decrypt-text-btn {
    background-color: dimgray;
}

.list-btn {
    background-color: #454343;
}

.encrypt-btn:hover, .decrypt-btn:hover, .list-btn:hover {
    opacity: 0.8;
}

.encrypt-btn:focus, .decrypt-btn:focus, .list-btn:focus {
    outline: none;
}

#fileDecryption {
    width: 450px;
    margin: 0 auto;
}

.button:hover {
    opacity: 0.8;
}

button:focus {
    outline: none;
}


@media (max-width: 768px) {
    .panel {
        grid-template-columns: 1fr;
    }
}
