* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 10px;
}

.userpage-body {
    height: 100vh;
    background-color: #BED8D4;
    overflow: hidden;
}

.drop-area {
    flex: 2;
    border: 2px dashed #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    position: relative;
}

.userfile-input {
    position: absolute;
    opacity: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.userpage-container {
    width: 80%;
    margin: 30px auto;
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.userpage-logo {
    width: 120px;
    margin-bottom: 10px;
}

.userpage-decrypt-form {
    align-content: center;
}

.file-decryption {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    width: 100%; /* Ensures both elements have the same width */
}

.decrypt {
    background-color: #f44336;
}

.logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 4px; /* Smaller padding */
    border-radius: 2px; /* Smaller rounded corners */
    border: none;
    background: #f44336;
    color: #fff;
    font-size: 10px; /* Smaller font size */
    cursor: pointer;
}

.decrypt-btn {
    width: 100%;
    padding: 5px; /* Reduce padding */
    border: none;
    border-radius: 2px; /* Smaller rounded corners */
    color: #fff;
    font-size: 10px; /* Smaller font size */
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

button:focus {
    outline: none;
}

.user-key-input, .user-token-input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.header2 {
    margin-bottom: 8px;
    color: #333;
    font-size: 18px;
}

.user-panel {
    width: 450px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.button:hover {
    opacity: 0.8;
}

button:focus {
    outline: none;
}

@media (max-width: 768px) {
    .panel {
        grid-template-columns: 1fr;
    }
}
